.container{
    width: 120px;
    height: 120px;
    border: 4px solid black;
    border-radius: 12px;
  
}





.red{
  background-color: red;
}
.green{
    background-color: green;
}
@media (min-width:768px) {
  .red{
    background-color: yellow;
  }
  .green{
    background-color: blue;
  }
}

@media(min-width:1024px) {
  .red{
    background-color: grey;
  }
  .green{
    background-color: orangered;
}

}

