.red{
    background-color:red;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    margin-left: 500px;
}
.black{
    background-color:black;
    width: 200px;
    height: 200px;
    margin-left: 500px;
    
}
.image{
    width: 100%;
    height: 100%;
    
}
.green{
    background-color:green;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 500px;
    padding-left: 50px;
    padding-top:50px;

    }
.magenta{
    background-color:magenta;
    width: 90px;
    height: 90px;
    padding-left: 10px;
    padding-top: 10px;

}



