/*
.container{
    width: 256px;
    height: 256px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.container-1{
    background-color: blue;
    
}
.container-2{
    background-color: red;
    
}
.container-3{
    background-color: yellow;
    
}
.container-4{
    background-color: green;
   
}      */
      .container{
    width: 600px;
    height: 300px;
    display : grid ;
    grid-template-columns : repeat(3, 1fr) ;
    grid-template-rows : repeat(2, 1fr) ;
    grid-column-gap : 9px;
    grid-row-gap : 11px ;

}



.container-1{
    background-color: blue;
    border-radius: 9px;
    grid-area: 1 / 1 / 3 ;
    width: 220px;
    height: 330px;
    
}
.container-2{
    background-color: red;
    border-radius: 9px;
    width: 200px;
    height: 160px;
}
.container-3{
    background-color: yellow;
    border-radius: 9px;
    width: 200px;
    height: 160px;
    
}
.container-4{
    background-color: green;
    border-radius: 9px;
    width: 200px;
    height: 160px;
}
.container-5{
    background-color: purple;
    border-radius: 9px;
    width: 200px;
    height: 160px;
}


