div{
    width: 120px;
    height: 120px;
    border: 4px solid black;
    border-radius: 12px;
}

*{
    background-color: orangered ;
    
}
div{
    background-color: blue;
}
.container-2{
    background-color: green;
}
#container-3{
    background-color: red;
}

